
body { 
  padding-top: 10px; 
  font-family: Lato;
  background: linear-gradient(rgba(0,0,10,0.2),rgba(0,0,10,0.2)),url(header-bg.jpg);
  background-position:center;
  background-size:cover;
   background-attachment: fixed;

/*  background-position: calc(100% - 20px) calc(100% - 15px);*/
  
}

#intro{
	color: white;
	margin-left: 53%;
	background-color: #00264d;
	border:2px solid black;
	border-radius: 20px;
	margin-top: 5%;
	left: 60%;

	
	}